<!DOCTYPE html>
<html>
<head>
    <title>PDF Processing App - Each File</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script>
        // Function to show the success message
        function showSuccessMessage() {
            // Get the paragraph element by its ID
            var successMessage = document.getElementById('successMessage');
            // Show the element
            successMessage.style.display = 'block';
        }
    </script>
</head>
<body>
    <div class="container">
        <h1>Welcome to the PDF Processing App - Each File</h1>
        <form action="/process_every_single_file" method="POST">
            <label for="folderPath">Enter Folder Path:</label>
            <input type="text" id="folderPath" name="folder_path" placeholder="E.g., /path/to/folder">
            <input type="submit" value="Submit">
        </form>
        {% if success_message %}
            <p style="color: green;">{{ success_message }}</p>
        {% endif %}
        <!-- Back link to go to the index page -->
        <a href="{{ url_for('index') }}" class="back-link">Back to Index</a>
    </div>
</body>
</html>